.quizDiv
{
    text-align:left;
    margin-left:40px;
    font-style:italic;
    line-height:15px;

}
.quizHeading{

color:darkgreen;
font-size:16px;

}
.quizQue
{
color:blueviolet;
font-size:14px;
}
.quizOptions
{
    color:darkblue;
    font-size:12px;
}